.dashboard-sidebar {
  box-shadow: 0 0 10px 2px var(--color-sidebar-shadow);
  height: 100vh;
  width: var(--sidebar-width-open);
  background: var(--color-sidebar);
  transition: var(--tran-05);
  overflow-x: hidden;
  overflow-y: auto;

  .v-overlay {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    border-radius: 50%;
    // pointer-events: none;
    width: 0;
    height: 0;
    z-index: 100;
    transition: var(--tran-04);
    .v-overlay__scrim {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: inherit;
      will-change: opacity;

      opacity: 0.46;
      background-color: #212121;
      border-color: #212121;
    }
  }

  .sidebar {
    position: relative;
    width: 100%;
    height: 100%;
    background: inherit;
    padding: 10px 0;
    z-index: 101;

    header {
      position: relative;
      color: var(--color-sidebar-text);
      display: flex;
      align-items: center;
      column-gap: 10px;
      padding-bottom: 10px;
      padding-inline: 14px;
      border-bottom: 3px double;

      .header-image {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-sidebar-text);
        height: 40px;
        width: 40px;
        min-width: 40px;
        border-radius: 20px;
        padding: 3px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .header-text {
        display: flex;
        flex-direction: column;
        .name {
          margin-top: 2px;
          font-size: 18px;
          font-weight: 600;
        }
        .profession {
          font-size: 16px;
          margin-top: -2px;
          display: block;
        }
      }
    }

    .menu {
      .menu-links {
        li {
          // padding-top: 5px;
          // padding-inline-end: 14px;
          margin: 6px 0;
          overflow: hidden;
          &.sub-menu {
            background-color: var(--color-sidebar-submenu);
          }
          a,
          button {
            // background-color: transparent;
            background-color: var(--color-sidebar-submenu);;
            color: var(--color-sidebar-text);
            display: flex;
            align-items: center;
            column-gap: 16px;
            height: 100%;
            width: 100%;
            padding: 0.4rem 0;
            padding-inline-start: 14px;
            // border-start-end-radius: 100px;
            // border-end-end-radius: 100px;
            border: none;
            text-decoration: none;
            transition: var(--tran-03);
            &.active,
            &.router-link-active,
            &:hover {
              background-color: var(--color-sidebar-text);
              box-shadow: 0 5px 10px -4px var(--color-sidebar-shadow);
              color: var(--color-sidebar);
              border-start-end-radius: 100px;
              border-end-end-radius: 100px;
              // .icon,
              // .text {
              //   color: var(--color-sidebar);
              // }
            }
            &:hover,
            &:focus {
              box-shadow: none;
            }

            // .text,
            // .icon {
            //   color: var(--color-sidebar-text);
            //   transition: var(--tran-03);
            // }
            .icon {
              min-width: 40px;
              border-radius: 6px;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
              img {
                width: 30px;
              }
            }
            .text {
              display: flex;
              align-items: center;
              font-size: 16px;
              font-weight: 500;
              white-space: initial;
              opacity: 1;
              text-align: start;
              line-height: 1.25;
              width: 100%;
              .sub-text {
                width: 100%;
              }
              .fa-angle-down {
                margin-inline-start: 5px;
                margin-inline-end: 7px;
              }
            }
          }

          .collapse {
            // background-color: var(--color-sidebar-submenu);
            // border-start-end-radius: 5px;
            // border-end-end-radius: 5px;
            li {
              padding-inline-end: 0;
            }
          }
        }
      }
    }
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
}

.dashboard-sidebar.closed {
  width: var(--sidebar-width-close);

  header {
    .header-text {
      // opacity: 0;
      // height: 0;
      display: none;
    }
  }
  // li {
  //   .text {
  //     opacity: 0;
  //   }
  // }
  .sidebar .menu .menu-links li {
    a,
    button {
      .text {
        white-space: nowrap;
        opacity: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .dashboard-sidebar {
    position: fixed;
    .v-overlay {
      width: 200vw;
      height: 200vh;
    }
  }
  .dashboard-sidebar.closed {
    .v-overlay {
      width: 0;
      height: 0;
    }
  }
  .dashboard-sidebar + .dashboard-content {
    z-index: -1;
  }
  .dashboard-sidebar.closed + .dashboard-content {
    z-index: initial;
  }
}

.fa-angle-down {
  transition: var(--tran-04);
}
.not-collapsed {
  .fa-angle-down {
    transform: rotate(180deg);
  }
}
