.date-time-picker {
  label {
    z-index: initial !important;
  }
}
.vc-popover-content-wrapper {
  transform: initial !important;
  inset: initial !important;
  left: 50px !important;
  right: 50px !important;
  top: 75px !important;
}